[submodule "agents/.agents/skills/pi-skills"]
	path = agents/.agents/skills/pi-skills
	url = https://github.com/badlogic/pi-skills.git
[submodule "agents/.agents/skills/pocock-skills"]
	path = agents/.agents/skills/pocock-skills
	url = https://github.com/mattpocock/skills.git
