* {
  border: none;
  border-radius: 0;
  font-family: "AdwaitaMono Nerd Font";
  font-size: 14px;
  min-height: 0;
  font-weight: bold;
}

window#waybar {
  background: rgba(14, 20, 21, 0.92);
  color: #cecece;
}

#workspaces button {
  padding: 0 8px;
  color: #cecece;
  background: transparent;
}

#workspaces button.focused {
  background: #71aed7;
  color: #0e1415;
}

#window,
#mode,
#pulseaudio,
#network,
#battery,
#clock,
#tray {
  padding: 0 10px;
  margin: 4px 0;
}

#window {
  color: #7d7d7d;
  font-weight: bold;
}

#mode {
  background: #d2322d;
  color: #0e1415;
}

#battery:not(.warning):not(.critical) {
  color: #6abf40; /* green */
}

#bluetooth.connected {
  color: #178F79; /* cyan */
}

#battery.warning {
  color: #cd974b; /* yellow/orange */
}

#battery.critical,
#network.disconnected,
#bluetooth.disabled,
#bluetooth.off {
  color: #d2322d; /* red */
}

#custom-sep {
  color: rgba(206, 206, 206, 0.15);
}
